
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Create universial styles */

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#a4a4a4; 
}

header {
    background-color: #2d2d2d;
    padding: 20px;
}

h1 {
    color:#ffffff; 
    text-align: center;
    font-family:arial, sans-serif; 
}


.score-board {
    border: 3px solid;
    border-radius: 5px;
    width: 200px;
    margin: 20px auto;
    color: black;
    font-size:large;  
    padding: 20px 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;        
}

.badge {
    background: #668cd9;
    color: white;
    font-size: 15px;
    padding: 2px 10px;
    font-family: sans-serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;

}

#computer-label {
    position: absolute;
    top: 30px;
    left: -30px;
}
